* {
    text-align: center;
}

html {
    background-color: #d6d9db;
}

body {
    max-width: 1000px;
    margin: auto;
    font-family: 'Slabo 27px', serif;
}            

li {
    list-style: none;
}
            
ul {
    margin: 0;
    padding: 0;
}
            
.header {
    background-color: #303336;
    color: aliceblue;
    border: 3px solid aliceblue;
    margin: auto;
    font-style: italic;
    position: relative;
    top: 0;
    max-width: 100%;
    width: 100%
}

.header h1 {
    font-family: 'Taviraj', serif;
}

h1, h4 {
    margin: auto 10px;
}

#top {
    text-decoration: underline;
}

p {
    text-align: center;
}

.navbar ul {
    background-color: #303336;
    border: 3px solid aliceblue;
    font-weight: 400;
}

.navbar li {
    display: inline-block;
    margin-left: 3.5%;
    margin-right: 3.5%
}
            
.navbar a {
    color: aliceblue;
}

content h3 {
    background-color: #303336;
    border: 3px solid aliceblue;
    color: aliceblue;
    font-weight: 600;
}

questions p:nth-child(2n) {
    font-weight: 900;
}
        
.img_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.img_container a {
    display: inline-block;
    margin-bottom: 8px;
    width: 22%;
    margin-left: auto;
}

.image {
    height: 200px;
    width: 200px;
    max-width: 100%;
    margin: 3%;
    border: 3px solid #303336;
    outline: 3px solid aliceblue;
    opacity: 0.7;
}

@media screen and (min-width: 500px) {
    .img_container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .img_container a {
        text-align: center;
        display: inline-block;
        margin-bottom: 8px;
        width: 50%;
    }
}

@media screen and (min-width: 1000px) {
    .img_container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .img_container a {
        text-align: center;
        display: inline-block;
        margin-bottom: 8px;
        width: 25%;
    }
}

.world_map {
    width: 85%;
    max-width: 1000px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #303336;
    outline: 3px solid aliceblue;
    opacity: 0.5;
}

.world_map:hover {
    opacity: 0.7;
    width: 100%;
}

.region {
    font-style: italic;
    width: 100%;
}

.region li {
    display: inline;
    margin-left: 20px;
}

.job_list li {
    margin: auto;
}

contact {
    font-family: 'Taviraj', serif;
}

a {
    text-decoration: none;
    color:black;
}

contact li:hover {
    color: #4da6ff;
}
            
copyright {
    margin-bottom: 0px;
}

.logo_link {
    color: aliceblue;
}

/*
            .logo, .greeting {
                height: 10px;
                    background-color: #303336;
    color: aliceblue;
    border: 3px solid aliceblue;
                display: flex;
                flex-wrap: wrap;
            }
            
            .logo {width: 30%;}
            .greeting {width: 70%}
            */